# Environment variables
.env
.env.*
!.env.example

# Node modules and dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build outputs
dist
build
output

# Version control
.git
.gitignore

# IDE files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 

# Dockerfiles
Dockerfile*
docker-compose*
.dockerignore

# Others
README.md
LICENSE
